<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}{% endblock %}</title>
		<!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 10]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<!-- Meta -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"
		/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="description" content="WIP Rack Barcode" />
		<meta name="keywords" content="Sritrang Warehouse System" />
		<meta name="author" content="CodedThemes" />

		<!-- Favicon icon -->
		<link
			rel="icon"
			href="{{ url_for('static',filename = 'template/assets/images/favicon.ico') }}"
			type="image/x-icon"
		/>
		<!-- fontawesome icon -->
		<link
			rel="stylesheet"
			href="{{ url_for('static',filename = 'template/assets/fonts/fontawesome/css/fontawesome-all.min.css') }}"
		/>
		<!-- animation css -->
		<link
			rel="stylesheet"
			href="{{ url_for('static',filename = 'template/assets/plugins/animation/css/animate.min.css') }}"
		/>
		<!-- vendor css -->
		<link
			rel="stylesheet"
			href="{{ url_for('static',filename = 'template/assets/css/style.css') }}"
		/>

		<!-- morris css -->
		<link
			rel="stylesheet"
			href="{{ url_for('static',filename = 'template/assets/plugins/chart-morris/css/morris.css') }}"
		/>

		<!--Datatable-->
		<link
			rel="stylesheet"
			href="{{ url_for('static',filename = 'template/assets/plugins/data-tables/css/datatables.min.css') }}"
		/>

		<!-- Specific CSS goes HERE -->
		{% block stylesheets %}{% endblock stylesheets %}
	</head>

	<body>
		<!-- [ Pre-loader ] start -->
		<div class="loader-bg">
			<div class="loader-track">
				<div class="loader-fill"></div>
			</div>
		</div>
		<!-- [ Pre-loader ] End -->

		<!-- [ navigation menu ] start -->

		{% include 'includes/Sidebar.html' %}

		<!-- [ navigation menu ] end -->

		<!-- [ Header ] start -->
		<header class="navbar pcoded-header navbar-expand-lg navbar-light">
			<div class="m-header">
				<a class="mobile-menu" id="mobile-collapse1" href="javascript:"><span></span></a>
				<a href="index.html" class="b-brand">
					<div class="b-bg-icon">
						<!-- <i class="feather icon-trending-up"></i> -->
						<object class="warehouse-icon"
						data="{{ url_for('static',filename = 'template/assets/images/warehouse.svg') }}"
						></object>

					</div>
					<span class="b-title">WIP Warehouse</span>
				</a>
			</div>
			<a class="mobile-menu" id="mobile-header" href="javascript:">
				<i class="feather icon-more-horizontal"></i>
			</a>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li>
						<a
							href="javascript:"
							class="full-screen"
							onclick="javascript:toggleFullScreen()"
							><i class="feather icon-maximize"></i
						></a>
					</li>

				</ul>
				
							</div>
						</div>
					</li>
				</ul>
			</div>
		</header>
		<!-- [ Header ] end -->

		<!-- [ Main Content ] start -->
		<div class="pcoded-main-container">
			<div class="pcoded-wrapper">{% block content %} {% endblock %}</div>
		</div>
		<!-- [ Main Content ] end -->

		<!-- Warning Section Starts -->
		<!-- Older IE warning message -->
		<!--[if lt IE 11]>
			<div class="ie-warning">
				<h1>Warning!!</h1>
				<p>
					You are using an outdated version of Internet Explorer, please upgrade <br />to
					any of the following web browsers to access this website.
				</p>
				<div class="iew-container">
					<ul class="iew-download">
						<li>
							<a href="http://www.google.com/chrome/">
								<img src="assets/images/browser/chrome.png" alt="Chrome" />
								<div>Chrome</div>
							</a>
						</li>
						<li>
							<a href="https://www.mozilla.org/en-US/firefox/new/">
								<img src="assets/images/browser/firefox.png" alt="Firefox" />
								<div>Firefox</div>
							</a>
						</li>
						<li>
							<a href="http://www.opera.com">
								<img src="assets/images/browser/opera.png" alt="Opera" />
								<div>Opera</div>
							</a>
						</li>
						<li>
							<a href="https://www.apple.com/safari/">
								<img src="assets/images/browser/safari.png" alt="Safari" />
								<div>Safari</div>
							</a>
						</li>
						<li>
							<a
								href="http://windows.microsoft.com/en-us/internet-explorer/download-ie"
							>
								<img src="assets/images/browser/ie.png" alt="" />
								<div>IE (11 & above)</div>
							</a>
						</li>
					</ul>
				</div>
				<p>Sorry for the inconvenience!</p>
			</div>
		<![endif]-->
		<!-- Warning Section Ends -->

		<!-- Required Js -->
		<script src="{{ url_for('static',filename = 'template/assets/js/vendor-all.min.js') }}"></script>
		<script src="{{ url_for('static',filename = 'template/assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static',filename = 'template/assets/js/pcoded.min.js') }}"></script>
		<script src="{{ url_for('static',filename = 'template/assets/plugins/chart-morris/js/raphael.min.js') }}"></script>
		<script src="{{ url_for('static',filename = 'template/assets/plugins/chart-morris/js/morris.min.js') }}"></script>
		<script src="{{ url_for('static',filename = 'template/assets/plugins/data-tables/js/datatables.min.js') }}"></script>
		<script>
		$(document).ready(function(){

			$(".warehouse-icon").width($(".b-bg-icon").width());
			$(".warehouse-icon").height($(".b-bg-icon").height());
		
		});</script>
		<!-- Specific Page JS goes HERE  -->
		{% block javascripts %}{% endblock javascripts %}
	</body>
</html>
